{% extends 'base.html.twig' %}

{%  block body %}
        <div class="container">
            <div>

            
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input class ="" type="submit" value="s'inscrire"/>
        {{ form_end(form) }}
        </div>
{% endblock %}

