{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Formulaire d'inscription</h1>
        <div>
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>

        <div>
            {{ form_start(form, {'attr': {'class': 'col-sm-6 '}}) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary " type="submit" value="s'inscrire"/>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

